<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">{{title}}</button>
    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-flat-button routerLink="addURL" color="accent"><mat-icon>add</mat-icon></button>
      <!-- <form [formGroup]="addMeetingURLForm" (ngSubmit)="onAddURL()">
        <div class="input-group">
          <input class="input-group-field" type="meetingURL" value="" placeholder="Indico Meeting URL" formControlName="addURL">
          <div class="input-group-button"><button mat-flat-button color="accent"><mat-icon>add</mat-icon></button></div>
        </div>
      </form> -->
  </div>
  <!-- <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button> -->
</mat-toolbar>
<router-outlet></router-outlet>
